* {margin: 0; padding: 0; list-style: none;}
@font-face {
font-family: 'Pretendard-Regular';
src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;}
body {width: 100%; height: 100%; font-family: 'Pretendard-Regular';}
#section {width: 70%; height: 100%; background-color: #444; display: inline-block; position: absolute; top: 0; left: 0;}
header {width: 100%; height: 15%; background-color: #fff; border-bottom: 1px solid #ccc;}
header>h2 {font-size: 48px; line-height: 120px; text-align: center;} 
/* margin-left: 40px; */
#number_box {width: 100%; height: 82.4%; background-color: #F4F4F4; position: absolute; padding: 1%;}
.number {width: 30%; height: 10%; background-color: #fff; border: 1px solid #d8D8D8; border-radius: 12px;
    margin: 10px; float: left; padding: 3.63% 0 3.63% 0; box-shadow: 0px 6px 12px #00000010;}
#number5 {opacity: 0;}
#number8 {opacity: 0;}
.use {font-size: 20px; color: #585858; text-align: center; }
.room_number {font-size: 48px; color: #5583ff; text-align: center; font-weight: 800; }
#menu {width: 30%; height: 100%; background-color: #2E2E2E; display: inline-block; position: absolute; top: 0; left: 70%;}
#button_box {width: 82%; height: 15%; margin-top: 40px; margin-left: 40px; }
#button_1 {width: 48%; height: 100%; background-color: #5583FF; border-radius: 12px; border: none; float: left; font-size: 28px; color: #fff; cursor: pointer;  font-family: 'Pretendard-Regular';}
#button_2 {width: 48%; height: 100%; background-color: #6E6E6E; border-radius: 12px; border: none; float: right; font-size: 28px; color: #fff; cursor: pointer;  font-family: 'Pretendard-Regular';}
#button_1:hover {background-color: #3E6BE5;}
#button_2:hover {background-color: #555555;}
#price_list_box {width: 82%; height: 74%; background-color: #404040; color: #fff; margin-top: 20px; margin-left: 40px; }
#price_list {width: 100%; height: 100%; font-size: 16px; text-align: center; border-collapse:collapse; }
th,td { border:1px solid #666; padding: 10px;}
th {background-color: #4D4D4D;}
td:nth-child(2),td:nth-child(3) {color:#FFF8A0;}
td:nth-child(4),td:nth-child(5) {color:#ABFF86;}